.stars {
  position: fixed;
  top: -100pc;
  left: 10pc;
  width: 100%;
  height: 220%;
  transform: rotate(-45deg);
}

.star {
  --star-color: var(--primary-color);
  --star-tail-length: 60em;
  --star-tail-height: 2px;
  --star-width: calc(var(--star-tail-length) / 6);
  --fall-duration: 9s;
  --tail-fade-duration: var(--fall-duration);
  position: absolute;
  top: var(--top-offset);
  left: 0;
  width: var(--star-tail-length);
  height: var(--star-tail-height);
  color: var(--star-color);
  background: linear-gradient(45deg, currentColor, transparent);
  border-radius: 50%;
  filter: drop-shadow(0 0 6px currentColor);
  transform: translate3d(104em, 0, 0);
  animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
}
@media screen and (max-width: 750px) {
  .star {
    animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
  }
}
.star:nth-child(1) {
  --star-tail-length: 5.71em;
  --top-offset: 96.85vh;
  --fall-duration: 7.5s;
  --fall-delay: 0.175s;
}
.star:nth-child(2) {
  --star-tail-length: 6.24em;
  --top-offset: 17.4vh;
  --fall-duration: 8.591s;
  --fall-delay: 9.443s;
}
.star:nth-child(3) {
  --star-tail-length: 6.13em;
  --top-offset: 92.47vh;
  --fall-duration: 9.571s;
  --fall-delay: 7.794s;
}
.star:nth-child(4) {
  --star-tail-length: 6em;
  --top-offset: 60.98vh;
  --fall-duration: 6.333s;
  --fall-delay: 7.882s;
}
.star:nth-child(5) {
  --star-tail-length: 6.78em;
  --top-offset: 67.19vh;
  --fall-duration: 6.038s;
  --fall-delay: 5.568s;
}
.star:nth-child(6) {
  --star-tail-length: 6.97em;
  --top-offset: 55.16vh;
  --fall-duration: 6.051s;
  --fall-delay: 1.036s;
}
.star:nth-child(7) {
  --star-tail-length: 5.23em;
  --top-offset: 32.65vh;
  --fall-duration: 11.337s;
  --fall-delay: 1.528s;
}
.star:nth-child(8) {
  --star-tail-length: 7.14em;
  --top-offset: 33.97vh;
  --fall-duration: 6.576s;
  --fall-delay: 5.194s;
}
.star:nth-child(9) {
  --star-tail-length: 7.41em;
  --top-offset: 75.48vh;
  --fall-duration: 11.54s;
  --fall-delay: 4.883s;
}
.star:nth-child(10) {
  --star-tail-length: 7.15em;
  --top-offset: 80.95vh;
  --fall-duration: 8.812s;
  --fall-delay: 3.624s;
}
.star:nth-child(11) {
  --star-tail-length: 5.27em;
  --top-offset: 56.62vh;
  --fall-duration: 11.171s;
  --fall-delay: 3.044s;
}
.star:nth-child(12) {
  --star-tail-length: 6.34em;
  --top-offset: 5.74vh;
  --fall-duration: 8.801s;
  --fall-delay: 7.671s;
}
.star:nth-child(13) {
  --star-tail-length: 6.92em;
  --top-offset: 29.4vh;
  --fall-duration: 9s;
  --fall-delay: 7.627s;
}
.star:nth-child(14) {
  --star-tail-length: 6.3em;
  --top-offset: 97.09vh;
  --fall-duration: 10.478s;
  --fall-delay: 0.451s;
}
.star:nth-child(15) {
  --star-tail-length: 6.28em;
  --top-offset: 55.68vh;
  --fall-duration: 11.439s;
  --fall-delay: 5.458s;
}
.star:nth-child(16) {
  --star-tail-length: 6.15em;
  --top-offset: 49.2vh;
  --fall-duration: 10.098s;
  --fall-delay: 6.73s;
}
.star:nth-child(17) {
  --star-tail-length: 7.26em;
  --top-offset: 15.64vh;
  --fall-duration: 7.231s;
  --fall-delay: 6.283s;
}
.star:nth-child(18) {
  --star-tail-length: 6.09em;
  --top-offset: 32.6vh;
  --fall-duration: 11.796s;
  --fall-delay: 9.387s;
}
.star:nth-child(19) {
  --star-tail-length: 5.99em;
  --top-offset: 89.64vh;
  --fall-duration: 11.3s;
  --fall-delay: 8.994s;
}
.star:nth-child(20) {
  --star-tail-length: 6.37em;
  --top-offset: 19.95vh;
  --fall-duration: 8.598s;
  --fall-delay: 4.661s;
}
.star:nth-child(21) {
  --star-tail-length: 5.97em;
  --top-offset: 56.49vh;
  --fall-duration: 6.751s;
  --fall-delay: 9.892s;
}
.star:nth-child(22) {
  --star-tail-length: 6.24em;
  --top-offset: 33.8vh;
  --fall-duration: 9.474s;
  --fall-delay: 6.549s;
}
.star:nth-child(23) {
  --star-tail-length: 5.28em;
  --top-offset: 58.9vh;
  --fall-duration: 7.954s;
  --fall-delay: 5.892s;
}
.star:nth-child(24) {
  --star-tail-length: 7.25em;
  --top-offset: 28.2vh;
  --fall-duration: 7.222s;
  --fall-delay: 5.551s;
}
.star:nth-child(25) {
  --star-tail-length: 6.76em;
  --top-offset: 72.99vh;
  --fall-duration: 10.769s;
  --fall-delay: 9.451s;
}
.star:nth-child(26) {
  --star-tail-length: 6.45em;
  --top-offset: 47.65vh;
  --fall-duration: 6.498s;
  --fall-delay: 7.959s;
}
.star:nth-child(27) {
  --star-tail-length: 6.58em;
  --top-offset: 53.45vh;
  --fall-duration: 9.564s;
  --fall-delay: 6.624s;
}
.star:nth-child(28) {
  --star-tail-length: 5.97em;
  --top-offset: 36.51vh;
  --fall-duration: 10.914s;
  --fall-delay: 3.641s;
}
.star:nth-child(29) {
  --star-tail-length: 7.14em;
  --top-offset: 56.88vh;
  --fall-duration: 8.889s;
  --fall-delay: 6.06s;
}
.star:nth-child(30) {
  --star-tail-length: 6.31em;
  --top-offset: 35vh;
  --fall-duration: 6.738s;
  --fall-delay: 4.305s;
}
.star:nth-child(31) {
  --star-tail-length: 6.18em;
  --top-offset: 93.48vh;
  --fall-duration: 6.047s;
  --fall-delay: 7.186s;
}
.star:nth-child(32) {
  --star-tail-length: 5.85em;
  --top-offset: 46.49vh;
  --fall-duration: 10.901s;
  --fall-delay: 1.586s;
}
.star:nth-child(33) {
  --star-tail-length: 6.64em;
  --top-offset: 70.83vh;
  --fall-duration: 7.373s;
  --fall-delay: 7.378s;
}
.star:nth-child(34) {
  --star-tail-length: 5.93em;
  --top-offset: 79.4vh;
  --fall-duration: 6.147s;
  --fall-delay: 1.862s;
}
.star:nth-child(35) {
  --star-tail-length: 6.1em;
  --top-offset: 58.19vh;
  --fall-duration: 9.393s;
  --fall-delay: 8.896s;
}
.star:nth-child(36) {
  --star-tail-length: 7.14em;
  --top-offset: 63.42vh;
  --fall-duration: 8.441s;
  --fall-delay: 9.459s;
}
.star:nth-child(37) {
  --star-tail-length: 7.2em;
  --top-offset: 82.1vh;
  --fall-duration: 7.956s;
  --fall-delay: 7.408s;
}
.star:nth-child(38) {
  --star-tail-length: 6.24em;
  --top-offset: 38.36vh;
  --fall-duration: 7.625s;
  --fall-delay: 7.406s;
}
.star:nth-child(39) {
  --star-tail-length: 7.42em;
  --top-offset: 57.97vh;
  --fall-duration: 8.156s;
  --fall-delay: 0.671s;
}
.star:nth-child(40) {
  --star-tail-length: 6.94em;
  --top-offset: 60.71vh;
  --fall-duration: 6.615s;
  --fall-delay: 3.932s;
}
.star:nth-child(41) {
  --star-tail-length: 7.32em;
  --top-offset: 47.43vh;
  --fall-duration: 9.839s;
  --fall-delay: 5.377s;
}
.star:nth-child(42) {
  --star-tail-length: 5.36em;
  --top-offset: 30vh;
  --fall-duration: 8.547s;
  --fall-delay: 0.625s;
}
.star:nth-child(43) {
  --star-tail-length: 5.69em;
  --top-offset: 93.07vh;
  --fall-duration: 11.523s;
  --fall-delay: 7.639s;
}
.star:nth-child(44) {
  --star-tail-length: 5.9em;
  --top-offset: 42.62vh;
  --fall-duration: 8.067s;
  --fall-delay: 9.068s;
}
.star:nth-child(45) {
  --star-tail-length: 5.21em;
  --top-offset: 34.31vh;
  --fall-duration: 6.248s;
  --fall-delay: 5.533s;
}
.star:nth-child(46) {
  --star-tail-length: 7.03em;
  --top-offset: 43.31vh;
  --fall-duration: 9.716s;
  --fall-delay: 7.274s;
}
.star:nth-child(47) {
  --star-tail-length: 7.28em;
  --top-offset: 82.86vh;
  --fall-duration: 7.901s;
  --fall-delay: 4.826s;
}
.star:nth-child(48) {
  --star-tail-length: 7.38em;
  --top-offset: 27.5vh;
  --fall-duration: 11.482s;
  --fall-delay: 5.893s;
}
.star:nth-child(49) {
  --star-tail-length: 7.06em;
  --top-offset: 5.53vh;
  --fall-duration: 9.752s;
  --fall-delay: 2.595s;
}
.star:nth-child(50) {
  --star-tail-length: 5.9em;
  --top-offset: 89.03vh;
  --fall-duration: 9.662s;
  --fall-delay: 7.834s;
}
.star:nth-child(51) {
  --star-tail-length: 6.79em;
  --top-offset: 73.73vh;
  --fall-duration: 7.475s;
  --fall-delay: 0.062s;
}
.star:nth-child(52) {
  --star-tail-length: 6.92em;
  --top-offset: 38.87vh;
  --fall-duration: 11.665s;
  --fall-delay: 4.421s;
}
.star:nth-child(53) {
  --star-tail-length: 7.13em;
  --top-offset: 71.61vh;
  --fall-duration: 11.625s;
  --fall-delay: 2.48s;
}
.star:nth-child(54) {
  --star-tail-length: 6.77em;
  --top-offset: 78.32vh;
  --fall-duration: 9.727s;
  --fall-delay: 0.597s;
}
.star:nth-child(55) {
  --star-tail-length: 5.38em;
  --top-offset: 16.73vh;
  --fall-duration: 9.142s;
  --fall-delay: 7.443s;
}
.star:nth-child(56) {
  --star-tail-length: 6.24em;
  --top-offset: 77.6vh;
  --fall-duration: 6.921s;
  --fall-delay: 9.57s;
}
.star:nth-child(57) {
  --star-tail-length: 7.45em;
  --top-offset: 6.11vh;
  --fall-duration: 8.609s;
  --fall-delay: 3.05s;
}
.star:nth-child(58) {
  --star-tail-length: 7.1em;
  --top-offset: 45.36vh;
  --fall-duration: 9.544s;
  --fall-delay: 3.624s;
}
.star:nth-child(59) {
  --star-tail-length: 7.43em;
  --top-offset: 93.64vh;
  --fall-duration: 6.062s;
  --fall-delay: 0.56s;
}
.star:nth-child(60) {
  --star-tail-length: 5.14em;
  --top-offset: 92.27vh;
  --fall-duration: 11.632s;
  --fall-delay: 0.644s;
}
.star::before, .star::after {
  position: absolute;
  content: "";
  top: 0;
  left: calc(var(--star-width) / -2);
  width: var(--star-width);
  height: 100%;
  background: linear-gradient(45deg, transparent, currentColor, transparent);
  border-radius: inherit;
  animation: blink 2s linear infinite;
}
.star::before {
  transform: rotate(45deg);
}
.star::after {
  transform: rotate(-45deg);
}

@keyframes fall {
  to {
    transform: translate3d(-30em, 0, 0);
  }
}
@keyframes tail-fade {
  0%, 50% {
    width: var(--star-tail-length);
    opacity: 1;
  }
  70%, 80% {
    width: 0;
    opacity: 0.4;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}
@keyframes blink {
  50% {
    opacity: 1;
  }
}
.main-container-about-us {
  min-height: 200vh;
  display: flex;
  justify-content: center;
  padding: 150px 20px;
  background: radial-gradient(ellipse at bottom, #0a1828 0%, #202331 100%);
}

.first {
  text-align: center;
}

.about-us-content {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  color: #fcfbfb;
}

.text-container p {
  font-size: 2rem;
  color: #fcfbfb;
  text-align: center;
}

.img-container {
  width: 80%;
  height: 60pc;
  position: relative;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2px;
  position: relative;
  right: -25pc;
}

.img1 {
  width: 60%;
  height: 100%;
  border-radius: 5px;
  align-items: start;
}

.img1 img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.img2 img {
  width: 60%;
  height: 50%;
  border-radius: 5px;
}

.img2 {
  width: 40%;
  height: auto;
  border-radius: 5px;
}

.teamSection {
  text-align: center;
  padding: 50px 20px;
  width: 100%;
  background-color: #f9f9f9;
}

.teamMembers {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.teamMember {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 250px;
  transition: transform 0.3s;
}

.teamMember:hover {
  transform: translateY(-5px);
}

.memberImage {
  width: 100%;
  border-radius: 10px;
}

.socialLinks {
  margin-top: 10px;
}

.socialLinks a {
  margin: 0 5px;
  color: #007BFF;
  font-size: 18px;
}

@media (max-width: 768px) {
  .main-container-about-us {
    padding: 100px 10px;
  }
  .text-container p {
    font-size: 1.5rem;
  }
  .img1, .img2 {
    width: 90%;
    max-width: none;
  }
  .teamMember {
    width: 90%;
  }
}/*# sourceMappingURL=about.css.map */