/* Reset and global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arima', sans-serif;
  background: linear-gradient(to right, #ece9e6, #ffffff);
  color: #0b1b54;
}
/* Main Section */
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  height: 95vh;
  background: linear-gradient(to right, #ece9e6, #ffffff);
}

.loginForm {
  width: 100%;
  max-width: 700px;
  padding: 35px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: row;
 height: 50pc;
}
.loginForm .content{
  width: 100%;
  margin: 5px;
}
#btnSubmit {
  background-color: #605c58;
  color: white;
}

h2 {
  text-align: center;
}

span {
  text-align: start;
  margin: 5px;
  font-size: larger;
}

p {
  text-align: center;
  color: #101216;
  font-size: 1.2em;
}

.top-contain label {
  text-align: start;
  font-size: x-large;
}

.top-contain input {
  display: block;
  width: 100%;
  height: 50px;
  background-color: whitesmoke;
  border: 0.5px solid black;
  border-radius: 5px;
  margin-bottom: 15px;

}

button {
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}

#btnCreateAcc {
  background-color: orange;
  margin: 20px 0;
}

.botton-contain label {
  font-size: x-large;
  font-weight: 500;
}

button:hover {
  opacity: 0.9;
}

.line {
  width: 50%;
  height: 2px;
  margin: 20px auto;
  background-color: black;
}

.or-contain {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.icon {
  display: flex;
  justify-content: center; 
  align-items: center; 
  gap: 15px; 
  margin: 20px 0; 
}

