@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Dangrek&family=Noto+Sans+Khmer:wght@100..900&display=swap');

.body {
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right,rgb(236, 232, 228),rgb(245, 242, 242));
}
.apply-main-container{
    width: 50%;
    height: 165vh;
   
    justify-content: center;
    flex-direction: column;
    
    
}
.apply {
    width: 75vh;
    height: 80vh;
    background-color:lightgray;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.apply .first {
    font-size: 23px;
    padding-left: 5%;
    background-color: whitesmoke;
    padding-bottom:20px;
}

.apply .first h1 {
    height: 4pc;
    margin: 0;
    padding: 20px;
}

.apply .first hr {
    width: 60%;
    margin-left: 0;
    border-top: 10px dotted #333;
    margin: 20px;
}

.apply .second {
    padding: 16px;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    padding-bottom:30px;
   

}

.apply .second .user {
    width: 90%;
    display: flex;
    justify-content: space-between;
    background-color:whitesmoke;
}

.apply .second .user .user-info {
    width: 65%;
    font-size:23px;
    padding: 10px;
}
.apply .second .user .user-info h2{
    margin-top: 0;
}
ul>li{
    font-size: 29px;
    line-height: 5vh;
}

.apply .second .user .user-pic {
    width: 30%;
    height: 95%;
    font-size: 25px;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.image-placeholder {
    width: 150px;
    height: 180px;
    /* 3x4 aspect ratio */
    border: 1px solid #787070;
    margin-top: 10px;
    text-align: center;
    line-height: 130px;
    color: #aaa;
    margin-bottom:10px;
}
input[type="file"]{
    width: 50%;
    height:2pc;
    font-size: 17px;
    padding: 8px;
}

.apply .second .update {
    width: 80%;
    height:4pc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color:rgb(2, 2, 102);
    font-family: Noto Sans Khmer;
    background-color: rgb(128, 212, 245);
}
.update a{
    text-decoration: none;
}
.apply .third {
    font-size: 20px;
    padding-left: 51px;
    height: 300px;
    background-color:whitesmoke;
    font-family: battambang;
    
}
.progress-container {
    width: 90%;
    background-color:lightgray;
    border-radius: 7px;
    overflow: hidden;
    margin-bottom: 20px;

}
.progress-bar {
    height: 40px;
    height: auto;
    width: 0%; /* Adjust this value for different progress */
    background-color:palevioletred;
    text-align: center;
    line-height: 30px;
    color:gray;
}
.button-container {
    width: 90%;
    height: auto;
    padding: 5px;
    height: 100px;

}
.button {
    background-color: #008CBA; /* Blue */
    border: none;
    width: 150px;
    width: auto;
    color:whitesmoke;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 50px;
    cursor: pointer;
    margin: 5px;
}
.button:hover {
    background-color: #007B9E;
}
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90px;
    font-size: 25px;
    color: whitesmoke;
    background-color: rgb(83, 126, 234);
  }
  .userForm{
    width: 75vh;
    height: 100vh;
    background-color: lightgray;
    margin-top: 40px;
 
  }
  
  .fill-box {
    margin: 20px;
  }
  
  .first-fill {
    display: flex;
    flex-direction: column;
    font-size: 20px;
  }
  
  .first-fill1 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 10px;
  }
  
  .small-picture {
    width: 150px;
    height: 180px;
    /* 3x4 aspect ratio */
    border: 1px dashed #787070;
    margin-top: 10px;
    text-align: center;
  }
  
  input[type=file] {
    width: 100px;
    height: 2pc;
    font-size: 15px;
  }
  
  .input-full-name {
    display: flex;
    flex-direction: column;
    width: 600px;
    justify-content: space-between;
  }
  
  .input-full-name input {
    height: 50px;
    padding: 10px;
  }
  
  .first-fill2 {
    font-size: 20px;
  }
  
  .first-fill2 .input-gender {
    display: flex;
    justify-content: space-between;
  }
  
  .first-fill2 .input-gender > button {
    width: 400px;
    height: 50px;
    text-align: center;
    padding: 6px;
    border-radius: 4px;
    font-size: 19px;
  }
  
  .second-fill {
    display: flex;
    flex-direction: column;
  }
  
  .second-fill input {
    margin-top: 10px;
    padding: 10px;
    font-size: 19px;
  }
  
  .second-fill select {
    margin-top: 10px;
    height: 60px;
    font-size: 19px;
    padding: 10px;
    border-radius: 5px;
  }
  
  .third-fill {
    font-size: 20px;
  }
  
  .third-fill .input-box {
    display: flex;
    justify-content: space-between;
  }
  
  .third-fill > .input-box > button {
    width: 250px;
    height: 45px;
    text-align: center;
    padding: 6px;
    font-size: 19px;
    border-radius: 4px;
  }
  
  input {
    font-size: 19px;
    height: 40px;
    border-radius: 5px;
  }
  
  .save-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    font-size: 25px;
    border-radius: 10px;
    margin: 20px;
    color: whitesmoke;
    background-color: rgb(234, 186, 83);
  }
  
  .save-box a {
    text-decoration: none;
  }
